{
  "openapi": "3.1.0",
  "info": {
    "title": "Tented API",
    "version": "1.0.0",
    "description": "The Tented public API: generate, publish, and manage AI-built web pages (tents), and run the email platform — contacts, reusable emails, one-time blasts, and triggered flows.\n\n## Authentication\nAuthenticate every request with a workspace API key: `Authorization: Bearer <api-key>`. Keys are created in **Workspace Settings → API Keys** and are scoped to a single workspace.\n\n## Asynchronous work\nTent generation, bulk creation, and email AI generation return `202 Accepted` immediately. Poll the corresponding status endpoint (`GET /v1/tents/{tentId}`, `GET /v1/bulk-jobs/{bulkJobId}`, `GET /v1/emails/{emailId}/generations/{generationId}`) — no more than every 10 seconds.\n\n## Pagination\nEmail listings use cursor pagination (`cursor`/`next_cursor`). Blast, flow, and member listings use page pagination (`page`/`limit` with a `pagination` object in the response).\n\n## Conventions\nRequest and response fields are snake_case, with two exceptions: analytics query parameters (`tentIdOrAlias`, `daysBack`) and segment rule trees (camelCase keys such as `listId` and `timeWindow`).",
    "contact": {
      "name": "Tented Support",
      "email": "support@tented.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.tented.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tents",
      "description": "Create, edit, publish, and manage AI-generated pages, including asset uploads and bulk creation."
    },
    {
      "name": "Analytics",
      "description": "Traffic analytics for single tents and the whole workspace."
    },
    {
      "name": "Contacts",
      "description": "Batch create, update, and delete contacts. Up to 25 items per request with per-item results."
    },
    {
      "name": "Emails",
      "description": "Reusable email content: AI generation, direct HTML edits, plain-text control, and approval."
    },
    {
      "name": "Email Blasts",
      "description": "One-time sends to an audience: compose, schedule, track engagement, export recipients."
    },
    {
      "name": "Triggered Flows",
      "description": "Multi-step automations that enroll contacts on triggers and move them through a step graph."
    }
  ],
  "paths": {
    "/v1/tents": {
      "post": {
        "tags": [
          "Tents"
        ],
        "operationId": "create-tent",
        "summary": "Create a tent",
        "description": "Create a tent and queue its first generation from a prompt, an approved template, or both. Generation is asynchronous: poll `GET /v1/tents/{tentId}` for progress. Creating from a template without a prompt copies the template synchronously and returns `201`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Tent name."
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Generation prompt. Required unless `template_id` is provided (then it describes the customization to apply)."
                  },
                  "user_id": {
                    "type": "string",
                    "description": "External identifier recorded as the creator of the generation. Does not affect authentication or scope."
                  },
                  "include_brand": {
                    "type": "boolean",
                    "description": "Pull workspace brand context (logo, colors, company info, brand guidelines) into the generation."
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Create from an approved template in the same workspace."
                  },
                  "auto_publish": {
                    "type": "boolean",
                    "description": "Publish automatically after a successful generation."
                  },
                  "custom_page_alias": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Custom published alias: max 100 characters; lowercase letters, numbers, hyphens, underscores, and dots; must start with a letter or number; must not be a UUID or a reserved word (`api`, `admin`, `submit`, `assets`, …). Use `/` to publish at the domain root. Requires `auto_publish: true`."
                  },
                  "token_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Structured personalization data made available to the generation as tokens."
                  },
                  "input_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Deprecated alias of `token_data`.",
                    "deprecated": true
                  },
                  "tent_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Generate into an existing idle tent — use this after uploading assets to `/v1/tents/new/assets`."
                  },
                  "asset_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5,
                    "description": "Up to 5 uploaded asset IDs to reference. Requires `tent_id`."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template copied synchronously (template create without a prompt).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Tent ID."
                    },
                    "generation_id": {
                      "type": "string",
                      "description": "Generation ID."
                    },
                    "status": {
                      "type": "string",
                      "description": "Always `completed` for a synchronous template copy."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation time."
                    },
                    "publication": {
                      "$ref": "#/components/schemas/Publication"
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Generation accepted and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Tent ID — poll `GET /v1/tents/{tentId}`."
                    },
                    "generation_id": {
                      "type": "string",
                      "description": "Generation ID."
                    },
                    "status": {
                      "type": "string",
                      "description": "Always `pending` on acceptance."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation time."
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "created_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limit exceeded — credit or publish limit reached for your plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/{tentId}": {
      "get": {
        "tags": [
          "Tents"
        ],
        "operationId": "get-tent-status",
        "summary": "Get tent status",
        "description": "Poll the generation status of a tent. While work is in progress the response carries `Retry-After: 10` — poll no more than every 10 seconds. When `auto_publish` was requested, the `publication` object reports the publish outcome.",
        "parameters": [
          {
            "name": "tentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Current tent status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TentStatus"
                }
              }
            },
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                },
                "description": "Seconds to wait before polling again. Present while the generation is queued or generating."
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/{tentId}/edit": {
      "post": {
        "tags": [
          "Tents"
        ],
        "operationId": "edit-tent",
        "summary": "Edit a tent",
        "description": "Queue a new generation for a tent that already has at least one generation. Asynchronous: poll `GET /v1/tents/{tentId}`. To create the first version, use `POST /v1/tents` instead.",
        "parameters": [
          {
            "name": "tentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Describes the change to make."
                  },
                  "include_brand": {
                    "type": "boolean",
                    "description": "Pull workspace brand context into the edit."
                  },
                  "auto_publish": {
                    "type": "boolean",
                    "description": "Publish this generation automatically after success."
                  },
                  "custom_page_alias": {
                    "type": "string",
                    "maxLength": 100,
                    "description": "Custom published alias: max 100 characters; lowercase letters, numbers, hyphens, underscores, and dots; must start with a letter or number; must not be a UUID or a reserved word (`api`, `admin`, `submit`, `assets`, …). Use `/` to publish at the domain root. Requires `auto_publish: true`."
                  },
                  "token_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Structured personalization data made available to the generation as tokens."
                  },
                  "input_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Deprecated alias of `token_data`.",
                    "deprecated": true
                  },
                  "asset_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 5,
                    "description": "Up to 5 asset IDs already attached to this tent."
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Edit accepted and queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Tent ID."
                    },
                    "generation_id": {
                      "type": "string",
                      "description": "New generation ID."
                    },
                    "status": {
                      "type": "string",
                      "description": "Always `pending` on acceptance."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Update time."
                    }
                  },
                  "required": [
                    "id",
                    "generation_id",
                    "status",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limit exceeded — credit or publish limit reached for your plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/{tentId}/assets": {
      "post": {
        "tags": [
          "Tents"
        ],
        "operationId": "upload-asset",
        "summary": "Upload an asset",
        "description": "Upload one file (max 4 MB) to a tent as `multipart/form-data` with a single `file` field. Pass the literal tent ID `new` to create an idle tent and get back its `actual_tent_id` for use with `POST /v1/tents`. Supported types: images (PNG, JPEG, GIF, SVG, WebP, ICO, TIFF, AVIF), documents (PDF, Word, Markdown, plain text, Excel, CSV, PowerPoint), and media (MP4, WebM, QuickTime, MP3, WAV).",
        "parameters": [
          {
            "name": "tentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tent ID, or the literal `new` to create an idle tent."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload (max 4 MB)."
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetUpload"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/{tentId}/publish": {
      "post": {
        "tags": [
          "Tents"
        ],
        "operationId": "publish-tent",
        "summary": "Publish a tent",
        "description": "Publish the latest completed generation of a tent. Re-publishing an already-live tent with no changes is a no-op.",
        "parameters": [
          {
            "name": "tentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tent ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "custom_page_alias": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Custom published alias: max 100 characters; lowercase letters, numbers, hyphens, underscores, and dots; must start with a letter or number; must not be a UUID or a reserved word (`api`, `admin`, `submit`, `assets`, …). Use `/` to publish at the domain root. Pass `null` to clear the alias and publish at the default tent URL.",
                    "maxLength": 100
                  },
                  "remove_branding": {
                    "type": "boolean",
                    "description": "Request a branding-free published page, when available on your plan."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Published (or already live).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Tent ID."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Update time."
                    },
                    "message": {
                      "type": "string",
                      "description": "Outcome summary."
                    },
                    "publication": {
                      "$ref": "#/components/schemas/Publication"
                    }
                  },
                  "required": [
                    "id",
                    "updated_at",
                    "publication"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Limit exceeded — credit or publish limit reached for your plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/{tentId}/unpublish": {
      "post": {
        "tags": [
          "Tents"
        ],
        "operationId": "unpublish-tent",
        "summary": "Unpublish a tent",
        "description": "Take a published tent offline. The tent and its generation history are kept, and it can be republished at any time.",
        "parameters": [
          {
            "name": "tentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Tent ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Tent taken offline.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Tent ID."
                    },
                    "status": {
                      "type": "string",
                      "description": "Tent status after unpublishing, e.g. `draft`."
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Update time."
                    },
                    "message": {
                      "type": "string",
                      "description": "Outcome summary."
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "updated_at"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/{identifier}": {
      "delete": {
        "tags": [
          "Tents"
        ],
        "operationId": "delete-tent",
        "summary": "Delete a tent",
        "description": "Delete a tent and its published assets, alias reservations, form-submission delivery configs, and scheduled automations. The identifier may be the tent ID, its current published alias, or `__index__` for a tent published at the domain root.",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tent ID, published alias, or `__index__`."
          }
        ],
        "responses": {
          "200": {
            "description": "Tent deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Outcome summary."
                    },
                    "tent_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Deleted tent ID."
                    }
                  },
                  "required": [
                    "message",
                    "tent_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tents/bulk": {
      "post": {
        "tags": [
          "Tents"
        ],
        "operationId": "create-bulk-tents",
        "summary": "Create tents in bulk",
        "description": "Create up to 25 tents from one approved template in a single request. Admission supports partial success: valid items are accepted and queued, invalid ones are rejected item-by-item. Poll `GET /v1/bulk-jobs/{bulkJobId}` for progress.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_id": {
                    "type": "string",
                    "description": "Approved template used for every item."
                  },
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "client_item_id": {
                          "type": "string",
                          "description": "Your reconciliation ID, echoed back in results."
                        },
                        "tent_name": {
                          "type": "string",
                          "description": "Tent name. When omitted, names derive from `default_tent_name_prefix` (or `client_job_descriptor`) plus a counter."
                        },
                        "custom_page_alias": {
                          "type": "string",
                          "maxLength": 100,
                          "description": "Custom published alias: max 100 characters; lowercase letters, numbers, hyphens, underscores, and dots; must start with a letter or number; must not be a UUID or a reserved word (`api`, `admin`, `submit`, `assets`, …). Use `/` to publish at the domain root. Requires top-level `auto_publish: true`."
                        },
                        "token_data": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Structured personalization data for this item. Applied before `prompt`."
                        },
                        "prompt": {
                          "type": "string",
                          "description": "Item-specific generation instructions."
                        },
                        "input_data": {
                          "type": "object",
                          "additionalProperties": true,
                          "description": "Deprecated alias of `token_data`.",
                          "deprecated": true
                        },
                        "instructions": {
                          "type": "string",
                          "description": "Deprecated alias of `prompt`.",
                          "deprecated": true
                        },
                        "include_brand": {
                          "type": "boolean",
                          "description": "Pull workspace branding into this item."
                        }
                      }
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Items to create (1–25). Each item must provide `token_data` and/or `prompt`."
                  },
                  "client_job_descriptor": {
                    "type": "string",
                    "description": "Label for the bulk job."
                  },
                  "default_tent_name_prefix": {
                    "type": "string",
                    "description": "Name prefix used when an item omits `tent_name`."
                  },
                  "start_index": {
                    "type": "integer",
                    "minimum": 1,
                    "default": 1,
                    "description": "Starting counter for generated names."
                  },
                  "auto_publish": {
                    "type": "boolean",
                    "description": "Publish every generated tent automatically. Applies to the whole batch."
                  },
                  "reasoning": {
                    "type": "string",
                    "enum": [
                      "min",
                      "medium",
                      "high",
                      "max"
                    ],
                    "description": "Reasoning effort for the generation pass."
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Job-level metadata, echoed back in responses."
                  }
                },
                "required": [
                  "template_id",
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch admitted (possibly with per-item rejections).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bulk_job_id": {
                      "type": "string",
                      "description": "Bulk job ID — poll `GET /v1/bulk-jobs/{bulkJobId}`."
                    },
                    "status": {
                      "type": "string",
                      "description": "Always `accepted`."
                    },
                    "template_id": {
                      "type": "string",
                      "description": "Template used."
                    },
                    "auto_publish": {
                      "type": "boolean",
                      "description": "Whether the batch auto-publishes."
                    },
                    "accepted_count": {
                      "type": "integer",
                      "description": "Items admitted."
                    },
                    "rejected_count": {
                      "type": "integer",
                      "description": "Items rejected at admission."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BulkJobItem"
                      },
                      "description": "Admission result per item, in request order."
                    },
                    "metadata": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Echoed job metadata."
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Job creation time."
                    }
                  },
                  "required": [
                    "bulk_job_id",
                    "status",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/bulk-jobs/{bulkJobId}": {
      "get": {
        "tags": [
          "Tents"
        ],
        "operationId": "get-bulk-job-status",
        "summary": "Get bulk job status",
        "description": "Poll a bulk tent creation job for per-item progress, publication results, and credit accounting.",
        "parameters": [
          {
            "name": "bulkJobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bulk job ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Current job state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkJob"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/tent": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "get-tent-analytics",
        "summary": "Get tent analytics",
        "description": "Traffic analytics for a single published tent over the last 1–7 days. Note: this endpoint uses camelCase query parameters.",
        "parameters": [
          {
            "name": "tentIdOrAlias",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Tent ID, its current published alias, or `/` for the tent published at the domain root."
          },
          {
            "name": "daysBack",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7,
              "default": 7
            },
            "description": "Days to include (1–7). Out-of-range values fall back to 7."
          }
        ],
        "responses": {
          "200": {
            "description": "Analytics for the tent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/org": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "get-org-analytics",
        "summary": "Get workspace analytics",
        "description": "Aggregate traffic analytics across all published tents in the workspace, including a per-path breakdown. `tent_id` is the literal string `org` in the response.",
        "parameters": [
          {
            "name": "daysBack",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 7,
              "default": 7
            },
            "description": "Days to include (1–7). Out-of-range values fall back to 7."
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Analytics"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "create-contacts",
        "summary": "Create contacts",
        "description": "Create up to 25 contacts in one request. Each item needs an `email` and/or `phone`. Duplicates (matching a normalized email or phone) are rejected per-item with `error_code: conflict` and the `existing_contact`. Partial success is normal — check each item result.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactCreateItem"
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Contacts to create (1–25)."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Batch processed (individual items may still be rejected).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Always `completed` once the batch has been processed."
                    },
                    "created_count": {
                      "type": "integer",
                      "description": "Contacts created."
                    },
                    "rejected_count": {
                      "type": "integer",
                      "description": "Number of rejected items."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactBatchItemResult"
                      },
                      "description": "Per-item results, in request order."
                    }
                  },
                  "required": [
                    "status",
                    "created_count",
                    "rejected_count",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "delete-contacts",
        "summary": "Delete contacts",
        "description": "Delete up to 25 contacts in one request. Equivalent to `POST /v1/contacts/delete`, which exists for clients that cannot send a body with `DELETE`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "contact_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Contact to delete."
                        },
                        "client_item_id": {
                          "type": "string",
                          "description": "Your reconciliation ID."
                        }
                      },
                      "required": [
                        "contact_id"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Contacts to delete (1–25)."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Always `completed` once the batch has been processed."
                    },
                    "deleted_count": {
                      "type": "integer",
                      "description": "Contacts deleted."
                    },
                    "rejected_count": {
                      "type": "integer",
                      "description": "Number of rejected items."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactBatchItemResult"
                      },
                      "description": "Per-item results, in request order."
                    }
                  },
                  "required": [
                    "status",
                    "deleted_count",
                    "rejected_count",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/update": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "update-contacts",
        "summary": "Update contacts",
        "description": "Update up to 25 contacts in one request. Omitted fields stay unchanged; `null` clears nullable fields. A contact must always keep at least one valid email or phone. Changing an email/phone to one used by another contact is rejected per-item with `error_code: conflict`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContactUpdateItem"
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Updates to apply (1–25)."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Always `completed` once the batch has been processed."
                    },
                    "updated_count": {
                      "type": "integer",
                      "description": "Contacts updated."
                    },
                    "rejected_count": {
                      "type": "integer",
                      "description": "Number of rejected items."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactBatchItemResult"
                      },
                      "description": "Per-item results, in request order."
                    }
                  },
                  "required": [
                    "status",
                    "updated_count",
                    "rejected_count",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contacts/delete": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "delete-contacts-post",
        "summary": "Delete contacts (POST)",
        "description": "Body-compatible alternative to `DELETE /v1/contacts` for clients that cannot send a request body with the `DELETE` method.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "contact_id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "Contact to delete."
                        },
                        "client_item_id": {
                          "type": "string",
                          "description": "Your reconciliation ID."
                        }
                      },
                      "required": [
                        "contact_id"
                      ]
                    },
                    "minItems": 1,
                    "maxItems": 25,
                    "description": "Contacts to delete (1–25)."
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch processed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Always `completed` once the batch has been processed."
                    },
                    "deleted_count": {
                      "type": "integer",
                      "description": "Contacts deleted."
                    },
                    "rejected_count": {
                      "type": "integer",
                      "description": "Number of rejected items."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ContactBatchItemResult"
                      },
                      "description": "Per-item results, in request order."
                    }
                  },
                  "required": [
                    "status",
                    "deleted_count",
                    "rejected_count",
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "list-emails",
        "summary": "List emails",
        "description": "List emails with cursor pagination. Follow `next_cursor` until it is absent.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "any",
                "draft",
                "approved"
              ],
              "default": "any"
            },
            "description": "Filter by lifecycle state."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "updated_at",
                "created_at",
                "name"
              ],
              "default": "updated_at"
            },
            "description": "Sort key. Applies only when `status` is `any`."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25,
              "description": "Page size."
            },
            "description": "Results per page (1–100)."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from a previous response’s `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of emails.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EmailListItem"
                      },
                      "description": "Emails in this page."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Cursor for the next page. Absent when the list is exhausted."
                    }
                  },
                  "required": [
                    "emails"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Emails"
        ],
        "operationId": "create-email",
        "summary": "Create an email",
        "description": "Create an email. With a `prompt`, AI generation starts asynchronously (`202` — poll the returned generation). Without a prompt you get a blank draft (`201`), optionally seeded from an approved email template via `template_id`. Emails are reusable content assets: approve one, then attach it to blasts and flows.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key. Replaying a request with the same key returns the stored result of the first attempt. If the first attempt is still in flight, the replay fails with `409 idempotency_in_progress`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Internal name (never shown to recipients)."
                  },
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000,
                    "description": "AI brief describing the email to generate."
                  },
                  "template_id": {
                    "type": "string",
                    "description": "Seed content and sender defaults from an approved email template."
                  },
                  "token_data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Structured data available to the generation as tokens. Requires `prompt` or `template_id`."
                  },
                  "subject": {
                    "type": "string",
                    "maxLength": 998,
                    "description": "Subject line. Must be set before approval."
                  },
                  "preview_text": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Preheader text.",
                    "maxLength": 200
                  },
                  "from_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Sender display name. Must be set before approval.",
                    "maxLength": 120
                  },
                  "from_address": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Sender address. Must be set before approval; sending requires a verified domain."
                  },
                  "reply_to_email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Reply-to address. Must be set before approval."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft created (no prompt supplied).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "202": {
            "description": "AI generation started — poll `GET /v1/emails/{emailId}/generations/{generationId}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAsyncAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "get-email",
        "summary": "Get an email",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Emails"
        ],
        "operationId": "update-email",
        "summary": "Update email metadata",
        "description": "Update name, subject, and sender fields. Omitted fields stay unchanged; `null` clears nullable fields. Updating `preview_text` rewrites the preheader in the current HTML in place without creating a new version.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Internal name."
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 998,
                    "description": "Subject line."
                  },
                  "preview_text": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Preheader text.",
                    "maxLength": 200
                  },
                  "from_name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Sender display name.",
                    "maxLength": 120
                  },
                  "from_address": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Sender address."
                  },
                  "reply_to_email": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Reply-to address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "operationId": "delete-email",
        "summary": "Delete an email",
        "description": "Delete an email. Blocked with `409` while the email is scheduled in a blast (`email_in_scheduled_blast`) or used by an active flow (`email_in_active_flow`).",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Deleted email ID."
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "Always `true`."
                    }
                  },
                  "required": [
                    "email_id",
                    "deleted"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/content": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "get-email-content",
        "summary": "Get email HTML",
        "description": "Returns the HTML of the latest completed version as `text/html` (not JSON).",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The HTML document.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/plain-text": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "get-email-plain-text",
        "summary": "Get plain text",
        "description": "Returns the plain-text rendition of the latest version — auto-derived from the HTML unless overridden.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Plain-text rendition.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlainText"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Emails"
        ],
        "operationId": "override-email-plain-text",
        "summary": "Override plain text",
        "description": "Replace the auto-derived plain text with your own (up to 1 MB; an empty string clears the content). Requires a completed generation. If the HTML is iterated later, `stale_after_html_iteration` flips to `true` on the override.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "description": "The plain-text content (up to 1 MB)."
                  }
                },
                "required": [
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Override stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlainText"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Emails"
        ],
        "operationId": "reset-email-plain-text",
        "summary": "Reset plain text",
        "description": "Remove the manual override and revert to plain text auto-derived from the current HTML.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Reverted to auto-derived text.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlainText"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/messages": {
      "post": {
        "tags": [
          "Emails"
        ],
        "operationId": "iterate-email",
        "summary": "Iterate with AI",
        "description": "Queue an AI iteration on the email. Only one generation can run per email at a time — a second request fails with `409 generation_in_progress`. Poll the returned generation for completion.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key. Replaying a request with the same key returns the stored result of the first attempt. If the first attempt is still in flight, the replay fails with `409 idempotency_in_progress`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 10000,
                    "description": "What to change."
                  },
                  "asset_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Email asset IDs to reference."
                  }
                },
                "required": [
                  "prompt"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Iteration queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailAsyncAccepted"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/save-code": {
      "post": {
        "tags": [
          "Emails"
        ],
        "operationId": "save-email-code",
        "summary": "Save HTML directly",
        "description": "Replace the email’s HTML with your own code (up to 2 MB), creating a new version synchronously. Does not unapprove an approved email. Blocked while an AI generation is running.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Optional idempotency key. Replaying a request with the same key returns the stored result of the first attempt. If the first attempt is still in flight, the replay fails with `409 idempotency_in_progress`."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Full replacement HTML document (up to 2 MB)."
                  }
                },
                "required": [
                  "code"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New version saved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generation_id": {
                      "type": "string",
                      "description": "Generation recorded for this save."
                    },
                    "version": {
                      "type": "integer",
                      "description": "New version number."
                    }
                  },
                  "required": [
                    "generation_id",
                    "version"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/approve": {
      "post": {
        "tags": [
          "Emails"
        ],
        "operationId": "approve-email",
        "summary": "Approve an email",
        "description": "Mark the current version as approved and usable by blasts and flows. Requires `subject`, `from_name`, `from_address`, and `reply_to_email` to be set (`400 email_missing_required_headers` otherwise). Pass `version` as an optimistic-concurrency precondition; a mismatch fails with `409 approval_version_stale`.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "version": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Expected current version."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/unapprove": {
      "post": {
        "tags": [
          "Emails"
        ],
        "operationId": "unapprove-email",
        "summary": "Unapprove an email",
        "description": "Return the email to draft. Rejected while the email is scheduled in a blast (`email_in_scheduled_blast`) or used by an active flow (`email_in_active_flow`).",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Back to draft.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Email"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid parameters or request body. Validation failures include `details.issues` with per-field messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Conflict — see `error_code` for the specific reason.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/generations/{generationId}": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "get-email-generation",
        "summary": "Get generation status",
        "description": "Poll an AI generation. `completed` generations include the version produced and content paths; `failed` ones include `error_code` and `error_message`.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          },
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Generation state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailGeneration"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/generations/{generationId}/content": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "get-email-generation-content",
        "summary": "Get generation HTML",
        "description": "Returns the HTML produced by one specific generation as `text/html`.",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          },
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The HTML document.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing, malformed, revoked, or expired API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found — the resource does not exist in the workspace tied to your API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/emails/{emailId}/generations/{generationId}/plain-text": {
      "get": {
        "tags": [
          "Emails"
        ],
        "operationId": "get-email-generation-plain-text",
        "summary": "Get generation plain text",
        "parameters": [
          {
            "name": "emailId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Email ID."
          },
          {
            "name": "generationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Generation ID."
          }
        ],
        "responses": {
          "200": {
[...]
